body{
   background-image: url(https://super.homelane.com/prodsnew/HLKT0000072.jpg);
}

a{
    position: relative;
    left: 30cm;
}
.card{
    background-image: url(https://super.homelane.com/products/07dec18/entertainment_unit/6.jpg);
    font-size:x-large;
    font-weight: bold;
    color:rgb(255, 218, 6)
}